.peoplesContainer {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background: #d7d7d7;
  flex-wrap: wrap;
  justify-content: center;
}

.queryInput {
  margin-bottom: 20px;
  width: 50%;
  height: 20px;
  padding: 4px;
}
